@use "../abstracts/" as *;
@use "sass:math";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  padding-inline: 7%;
  background-color: rgb(218, 218, 218);
  @include screenSize(laptop) {
    padding-inline: 3%;
  }
  @include screenSize(tablet) {
    padding-inline: 0;
  }
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
