@use "../styles/abstracts/" as *;

.products-wrapper {
  background-color: white;
  display: grid;
  padding: 30px 15px 100px 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "side products products products";

  @include screenSize(tablet) {
    grid-template-areas:
      "title title title title"
      "side side side side"
      "products products products products";
  }

  &__title {
    grid-area: title;
    padding: 30px 20px;
    border-bottom: 2px solid $background-gray;
    font-size: clamp(38px, 5vw, 54px);
  }
}
